@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.App {
  background-image: linear-gradient(0deg, #2d0b15, #132432, #142f21);
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

.home {
  background-image: linear-gradient(0deg, #2d0b15, #132432, #142f21);
  min-height: 100vh;
  min-width: 50vh;
}

.navigation {
  background-color: black;
}

#landing-page {
  display: flex;
  min-width: 100px;
  align-items: center;
  justify-content: center;
}

#auth-form-container {
  display: flex;
  flex-direction: column;
  margin: 6rem;
  padding: 4rem;
  border: 0.2rem solid #FBFBFB;
  border-radius: 10px;
}

#login-form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

label {
  padding: 0.25rem 0;
  color: #FBFBFB;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

#login-btn {
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 5em;
  margin-right: 5em;
  border: none;
  background-color: #FBFBFB;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
}

#login-btn:hover {
  background: rgb(175, 175, 175);
}

#login-btn:active {
  transform: translateY(3px);
  box-shadow: 0 2px black;
}

p#title {
  inline-size: 300px;
  color: white;
  font-size: 30px;
  text-align: center;
  padding-bottom: 2rem;
}

.employee,
.manager {
  color: white;
  min-height: 100vh;
  min-width: 100px;
  margin: 30px;
}

#emp {
  font-size: 1.5rem;
  text-align: center;
}

#emp-btn {
  padding: 20px;
  margin: 20px;
  width: 9rem;
}

#btn1,
#btn2,
#btn3,
#btn4 {
  padding: 20px;
  margin: 20px;
  width: 9rem;
}

#trivial {
  font-size: 15px;
  text-align: left;
}

#c-main {
  display: flex;
  text-align: center;
}

#c1,
#c3 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

#detail-start {
  font-size: large;
  font-weight: 600;
  color: rgb(47, 255, 68);
}

#detail-end {
  font-size: large;
  font-weight: 600;
  color: rgb(255, 106, 47);
}

#datetime-start {
  outline: 2px solid rgb(47, 255, 68);
  color: rgb(47, 255, 68);
  padding: 10px;
  line-height: 30px;
  width: 9.5rem;
  border-radius: 4px;
  text-align: center;
}

#datetime-end {
  outline: 2px solid rgb(255, 106, 47);
  color: rgb(255, 106, 47);
  padding: 10px;
  line-height: 30px;
  width: 9.5rem;
  border-radius: 4px;
  text-align: center;
}

#back {
  margin-top: 6rem;
  text-align: center;
}

#back-btn {
  font-family: 'DM Sans', sans-serif;
  color: white;
  background-color: rgba(73, 73, 73, 0.389);
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
}

#back-btn:hover {
  background: #fbfbfb87;
  color: black;
}

.logout {
  color: white;
  padding-top: 80px;
  text-align: center;
}

#logout-btn {
  font-family: 'DM Sans', sans-serif;
  color: white;
  background-color: rgba(73, 73, 73, 0.389);
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
}

#logout-btn:hover {
  background: #fbfbfb87;
  color: black;
}